<h1>Оглавление<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Первичное-знакомство:-подключение-к-БД" data-toc-modified-id="Первичное-знакомство:-подключение-к-БД-1">Первичное знакомство: подключение к БД</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2">Предобработка данных</a></span></li><li><span><a href="#Задание-1" data-toc-modified-id="Задание-1-3">Задание 1</a></span></li><li><span><a href="#Задание-2" data-toc-modified-id="Задание-2-4">Задание 2</a></span></li><li><span><a href="#Задание-3" data-toc-modified-id="Задание-3-5">Задание 3</a></span></li><li><span><a href="#Задание-4" data-toc-modified-id="Задание-4-6">Задание 4</a></span></li><li><span><a href="#Задание-5" data-toc-modified-id="Задание-5-7">Задание 5</a></span></li></ul></div>

**Цель -  проанализировать базу данных. В ней — информация о книгах, издательствах, авторах, а также пользовательские обзоры книг. Эти данные помогут сформулировать ценностное предложение для нового продукта**

**План исследования:**

**1.  Первичное знакомство**

  1.1. Изученить таблицы/колоноки
  
**Таблица `books`**

Содержит данные о книгах:
- `book_id` — идентификатор книги;
- `author_id` — идентификатор автора;
- `title` — название книги;
- `num_pages` — количество страниц;
- `publication_date` — дата публикации книги;
- `publisher_id` — идентификатор издателя.

**Таблица `authors`**

Содержит данные об авторах:
- `author_id` — идентификатор автора;
- `author` — имя автора.

**Таблица `publishers`**

Содержит данные об издательствах:
- `publisher_id` — идентификатор издательства;
- `publisher` — название издательства.

**Таблица `ratings`**

Содержит данные о пользовательских оценках книг:
- `rating_id` — идентификатор оценки;
- `book_id` — идентификатор книги;
- `username` — имя пользователя, оставившего оценку;
- `rating` — оценка книги.

**Таблица `reviews`**

Содержит данные о пользовательских обзорах на книги:
- `review_id` — идентификатор обзора;
- `book_id` — идентификатор книги;
- `username` — имя пользователя, написавшего обзор;
- `text` — текст обзора.

  1.2. Загрузить библиотеки

**2. Преобработка данных**
- преобрзовать поле publication_date в таблице books в тип datetime, так как это поле с датой
- пропуски отсутствуют
- дубликаты отсутствуют
- приводит к нижнему регистру не требуется
- аномальные/нулевые/отрицательные значения отсутствуют

**3. Посчитать, сколько книг вышло после 1 января 2000 года**

**4. Для каждой книги посчитать количество обзоров и среднюю оценку**

**5. Определить издательство, которое выпустило наибольшее число книг толще 50 страниц — так вы исключите из анализа брошюры**

**6. Определить автора с самой высокой средней оценкой книг — учитывайте только книги с 50 и более оценками**

**7. Посчитать среднее количество обзоров от пользователей, которые поставили больше 50 оценок**

## Первичное знакомство: подключение к БД

In [1]:
#импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

In [2]:
#устанавливаем параметры
db_config = {'user': 'praktikum_student',
             'pwd': 'Sdf4$2;d-d30pp',
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432, 
             'db': 'data-analyst-final-project-db'}

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
db_config['pwd'],
db_config['host'],
db_config['port'],
db_config['db'])

#сохраняем коннектор
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

In [3]:
#формируем sql запрос
books = pd.io.sql.read_sql(''' SELECT * FROM books''', con = engine)

In [4]:
authors = pd.io.sql.read_sql(''' SELECT * FROM authors''', con = engine)

In [5]:
publishers = pd.io.sql.read_sql(''' SELECT * FROM publishers''', con = engine)

In [6]:
ratings = pd.io.sql.read_sql(''' SELECT * FROM ratings''', con = engine)

In [7]:
reviews = pd.io.sql.read_sql(''' SELECT * FROM reviews''', con = engine)

In [8]:
#смотрим таблицы
table = books, authors, publishers, ratings, reviews

for row in table:
    display(row.head())

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

## Предобработка данных

In [9]:
#смотрим информацию по колонкам
table = books, authors, publishers, ratings, reviews

for row in table:
    row.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           1000 non-null   int64
 1   author_id         1000 non-null   int64
 2   title             1000 non-null   object
 3   num_pages         1000 non-null   int64
 4   publication_date  1000 non-null   object
 5   publisher_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author_id  636 non-null    int64
 1   author     636 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher_id  340 non-null    int64
 1   publisher     340 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6456 entries, 0 to 6455
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rating_id  6456 non-null   int64
 1   book_id    6456 non-null   int64
 2   username   6456 non-null   object
 3   rating     6456 non-null   int64
dtypes: int64(3), object(1)
memory usage: 201.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2793 entries, 0 to 2792
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review_id  2793 non-null   int64
 1   book_id    2793 non-null   int64
 2   username   2793 non-null   object
 3   text       2793 non-null   object
dtypes: int64(2), object(2)
memory usage: 87.4+ KB

In [10]:
#преобрзуем поле publication_date в таблице books в тип datetime
books['publication_date'] = pd.to_datetime(books['publication_date'])
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           1000 non-null   int64
 1   author_id         1000 non-null   int64
 2   title             1000 non-null   object
 3   num_pages         1000 non-null   int64
 4   publication_date  1000 non-null   datetime64[ns]
 5   publisher_id      1000 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 47.0+ KB

In [11]:
books.head()

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [12]:
#проверяем на пропуски каждый датафрейм
table = books, authors, publishers, ratings, reviews

for row in table:
    print(row.isna().sum())

book_id             0
author_id           0
title               0
num_pages           0
publication_date    0
publisher_id        0
dtype: int64
author_id    0
author       0
dtype: int64
publisher_id    0
publisher       0
dtype: int64
rating_id    0
book_id      0
username     0
rating       0
dtype: int64
review_id    0
book_id      0
username     0
text         0
dtype: int64

пропусков нет

In [13]:
#проверяем на дубликаты каждый датафрейм
table = books, authors, publishers, ratings, reviews

for row in table:
    print('Кол-во дубликатов -', row.duplicated().sum())

Кол-во дубликатов - 0
Кол-во дубликатов - 0
Кол-во дубликатов - 0
Кол-во дубликатов - 0
Кол-во дубликатов - 0

дубликатов нет

In [14]:
#проверяем на аномальные/нулевые/отрицательные значения каждый датафрейм
table = books, authors, publishers, ratings, reviews

for row in table:
    print(row.describe())

           book_id    author_id   num_pages  publisher_id
count  1000.000000  1000.000000  1000.00000   1000.000000
mean    500.500000   320.417000   389.11100    171.270000
std     288.819436   181.620172   229.39014     99.082685
min       1.000000     1.000000    14.00000      1.000000
25%     250.750000   162.750000   249.00000     83.000000
50%     500.500000   316.500000   352.00000    177.500000
75%     750.250000   481.000000   453.00000    258.000000
max    1000.000000   636.000000  2690.00000    340.000000
        author_id
count  636.000000
mean   318.500000
std    183.741666
min      1.000000
25%    159.750000
50%    318.500000
75%    477.250000
max    636.000000
       publisher_id
count    340.000000
mean     170.500000
std       98.293777
min        1.000000
25%       85.750000
50%      170.500000
75%      255.250000
max      340.000000
         rating_id      book_id       rating
count  6456.000000  6456.000000  6456.000000
mean   3228.500000   510.574195     3.928284
std    1863.831001   284.141636     0.943303
min       1.000000     1.000000     1.000000
25%    1614.750000   291.000000     3.000000
50%    3228.500000   506.000000     4.000000
75%    4842.250000   750.000000     5.000000
max    6456.000000  1000.000000     5.000000
         review_id      book_id
count  2793.000000  2793.000000
mean   1397.000000   504.693161
std     806.413976   288.472931
min       1.000000     1.000000
25%     699.000000   259.000000
50%    1397.000000   505.000000
75%    2095.000000   753.000000
max    2793.000000  1000.000000

обращала внимание на отрицательные и нулевые айдиншники, кол-во страниц и рейтинг - не выявлено 

плюс проверила поле рейтинг в таблице рейтинг на реалистичность значений - аномалий не выявлено

**Вывод: данные/значения таблиц высокого качества**

## Задание 1

In [15]:
#посчитаем, сколько книг вышло после 1 января 2000 года
query_one = ''' 
SELECT COUNT(book_id) 
FROM books
WHERE publication_date > '2000-01-01'
'''
query_one = pd.io.sql.read_sql(query_one, con = engine)

print('Кол-во книг, которые вышли после 1 января 2000 года -', query_one.iloc[0,0])

Кол-во книг, которые вышли после 1 января 2000 года - 819

**Вывод: после 1 января 2000 года вышло 819 книг**

## Задание 2

In [16]:
#для каждой книги посчитаем количество обзоров и среднюю оценку
query_two = '''
WITH rat AS (
SELECT book_id,
       ROUND(AVG(rating), 2) AS avg_rating
FROM ratings 
GROUP BY book_id),

rev AS (
SELECT book_id,
       COUNT(review_id) AS cnt_reviews
FROM reviews 
GROUP BY book_id)

SELECT b.book_id,
       r.avg_rating,
       re.cnt_reviews
FROM books AS b 
LEFT JOIN rat AS r ON b.book_id=r.book_id
LEFT JOIN rev AS re ON b.book_id=re.book_id
'''

query_two = pd.io.sql.read_sql(query_two, con = engine)

query_two.sort_values(by=['avg_rating', 'cnt_reviews'], ascending=False)

     book_id  avg_rating  cnt_reviews
911       17        5.00          4.0
320      444        5.00          3.0
648      553        5.00          3.0
28       390        5.00          2.0
44        57        5.00          2.0
..       ...         ...          ...
446      915        2.25          3.0
900      202        2.00          3.0
711      316        2.00          2.0
960      371        2.00          2.0
314      303        1.50          2.0

[1000 rows x 3 columns]

In [17]:
top = query_two.query('avg_rating == 5')['book_id'].count()

In [18]:
total = query_two['book_id'].count()
print('Доля книг с рейтингом 5 -', round(top/total*100, 2))

Доля книг с рейтингом 5 - 4.4

In [19]:
print(query_two.isna().sum())

book_id        0
avg_rating     0
cnt_reviews    6
dtype: int64

**Вывод: вывели для каждой книги количество обзоров и среднюю оценку, а также проверили долю книг с наивысшем рейтингом от всех - 4%**

## Задание 3

In [20]:
#найдем издательство, которое выпустило наибольшее число книг толще 50 страниц — так вы исключите из анализа брошюры
query_free = '''
WITH bok AS (
SELECT publisher_id,
       COUNT(book_id) AS cnt_book
FROM books
WHERE num_pages > 50
GROUP BY publisher_id)

SELECT publisher
FROM bok AS b
JOIN publishers AS p ON b.publisher_id=p.publisher_id
ORDER BY cnt_book DESC
LIMIT 1
'''
query_free = pd.io.sql.read_sql(query_free, con = engine)

print('Издательство, которое выпустило наибольшее число книг толще 50 страниц -', query_free.iloc[0,0])

Издательство, которое выпустило наибольшее число книг толще 50 страниц - Penguin Books

**Вывод: TOP издательство по выпуску книг - Penguin Books**

## Задание 4

In [21]:
#определим автора с самой высокой средней оценкой книг — учитывайте только книги с 50 и более оценкам
query_four = '''
WITH rat AS (
SELECT book_id,
       COUNT(rating_id) AS cnt_rating_id,
       ROUND(AVG(rating), 2) AS avg_rating
FROM ratings
GROUP BY book_id
HAVING COUNT(rating_id) > 50
ORDER BY avg_rating DESC)
       
SELECT aut.author,
       ROUNd(AVG(aut.avg_rating), 2) as avg_rating_final
FROM  (SELECT author, 
              avg_rating
       FROM books AS b
       JOIN rat AS r ON b.book_id=r.book_id
       JOIN authors AS a ON b.author_id=a.author_id) AS aut
GROUP BY aut.author
LIMIT 1
'''
query_four = pd.io.sql.read_sql(query_four, con = engine)

print('Автор с самой высокой средней оценкой книг, у которого более 50 оценок -', query_four.iloc[0,0])

Автор с самой высокой средней оценкой книг, у которого более 50 оценок - J.K. Rowling/Mary GrandPré

**Вывод: самую высокую оценку получила - JK Rowling/Mary GrandPré**

## Задание 5

In [22]:
#посчитаем среднее количество обзоров от пользователей, которые поставили больше 50 оценок
query_five = '''
WITH rat AS(
SELECT username,
       COUNT(rating_id) AS cnt_rating_id
FROM ratings
GROUP BY username
HAVING COUNT(rating_id) > 50)

SELECT ROUND(AVG(us.cnt_review_id),2)
FROM  (SELECT re.username,
              COUNT(review_id) AS cnt_review_id
       FROM rat AS r
       JOIN reviews AS re ON r.username = re.username
       GROUP BY re.username) AS us
'''

query_five = pd.io.sql.read_sql(query_five, con = engine)

print('Cреднее количество обзоров от пользователей, которые поставили больше 50 оценок -', query_five.iloc[0,0])

Cреднее количество обзоров от пользователей, которые поставили больше 50 оценок - 24.33

**Вывод: среднее количество обзоров от пользователей, которые поставили больше 50 оценок - 24,33**